<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de dueños de mascotas</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->
    <h1 th:text="'Listado de dueños de mascotas'">Listado de dueños de mascotas...</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner?.id}">1</td>
            <td th:text="${owner?.firstName}">Joe</td>
            <td th:text="${owner?.lastName}">Buck</td>
        </tr>
        </tbody>
    </table>
</body>
</html>